* {
    box-sizing: border-box;
}

.App {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    width: 500px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    .article {
        width: 100%;
    }
}

.form {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.label-input{
    display: flex;
    flex-direction: column;
    width: 125px;
}
